%h2 Hello, I'm Andrew's Long Odds Bet Bot!
%p
  You can read about my strategy
  <a href='http://blog.winthetrophy.com/2009/09/07/andrew-shindyapins-betting-strategy'>here</a>.
  I make bets daily whenever my alarm clock goes off (also known as cron),
  as well as whenever Andrew tells me to... unless I'm ahead (that is, I have more than
  #{THRESHOLD} chips), at which point I wait till next week.
%p I currently have #{@chips} chips; #{@chips_available} of them are available for betting.

%br/
%h2 More details
%hr/

%p Here is what my current bet week looks like:
%p= @current_bet_week

%p Here is what the events for the next day look like:
%p= @events
